.comprado {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #000000; /* Change background color to black */
  text-align: center;
}

.comprado h2 {
  color: #ff0000; /* Change text color to red */
  margin-bottom: 20px;
}

.comprado p {
  color: #ff0000; /* Change text color to white */
  font-size: 18px;
  margin-bottom: 10px;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .comprado {
    padding: 15px;
  }

  .comprado h2 {
    font-size: 1.5rem;
  }

  .comprado p {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .comprado {
    padding: 10px;
  }

  .comprado h2 {
    font-size: 1.2rem;
  }

  .comprado p {
    font-size: 0.9rem;
  }
}
