.resumen-compra {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.resumen-compra h2 {
  color: #ff0000;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.product-details {
  background-color: #000000;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.product-details img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ff0000;
  margin-bottom: 15px;
}

.product-details h3 {
  color: #ff0000;
  font-size: 2rem;
  margin-bottom: 10px;
}

.product-details p {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.product-details p:nth-child(even) {
  color: #ff0000;
}

button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #000;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .resumen-compra {
    padding: 15px;
  }

  .resumen-compra h2 {
    font-size: 2rem;
  }

  .product-details h3 {
    font-size: 1.5rem;
  }

  .product-details p {
    font-size: 1.2rem;
  }

  button {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .resumen-compra {
    padding: 10px;
  }

  .resumen-compra h2 {
    font-size: 1.5rem;
  }

  .product-details h3 {
    font-size: 1.2rem;
  }

  .product-details p {
    font-size: 1rem;
  }

  button {
    padding: 6px;
    font-size: 12px;
  }
}
