.register-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #333; /* Aseguramos que el título sea visible */
}

.register-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333; /* Aseguramos que las etiquetas sean visibles */
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.register-form input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.register-form button:hover {
  background-color: #0056b3;
}

.register-form button[type="button"] {
  background-color: #6c757d;
}

.register-form button[type="button"]:hover {
  background-color: #5a6268;
}

/* Estilo para los mensajes de error */
.error {
  color: #d9534f; /* Rojo visible */
  font-size: 12px;
  margin-top: -5px; /* Ajusta la posición para que no haya mucho espacio */
  margin-bottom: 10px;
  text-align: left; /* Alineación a la izquierda para mayor claridad */
  width: 100%; /* Asegura que ocupe todo el ancho del formulario */
}

@media (max-width: 1023px) and (min-width: 768px) {
  .register-form {
    padding: 15px;
  }

  .register-form h2 {
    font-size: 20px;
  }

  .register-form input {
    padding: 8px;
  }

  .register-form button {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .register-form {
    padding: 10px;
  }

  .register-form h2 {
    font-size: 18px;
  }

  .register-form input {
    padding: 6px;
  }

  .register-form button {
    padding: 6px;
    font-size: 12px;
  }
}