.sobrenosotros-container {
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.sobrenosotros-container h2 {
  color: #ff0000;
  text-align: center;
  margin-bottom: 20px;
}

.sobrenosotros-container p {
  color: #ff0000;
  line-height: 1.6;
  margin-bottom: 15px;
}

.sobrenosotros-container p:last-child {
  margin-bottom: 0;
}

.sobrenosotros-image {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease, filter 0.3s ease; /* Add transition for movement and light */
}

.sobrenosotros-image:hover {
  transform: scale(1.05); /* Slightly enlarge the image on hover */
  filter: brightness(1.2); /* Increase brightness on hover */
}

@media (max-width: 1023px) and (min-width: 768px) {
  .sobrenosotros-container {
    padding: 15px;
  }

  .sobrenosotros-container h2 {
    font-size: 1.8rem;
  }

  .sobrenosotros-container p {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .sobrenosotros-container {
    padding: 10px;
  }

  .sobrenosotros-container h2 {
    font-size: 1.5rem;
  }

  .sobrenosotros-container p {
    font-size: 0.9rem;
  }
}
