/* MemberItem.css */

/* Estilo base para los botones */
button {
  padding: 10px 15px;
  margin: 1px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

/* Estilo para el botón Guardar */
.Guardar {
  background-color: #4CAF50; /* Verde */
  color: white;
}

.Guardar:hover {
  background-color: #45a049;
}

/* Estilo para el botón Cancelar */
.Cancelar {
  background-color: #f44336; /* Rojo */
  color: white;
}

.Cancelar:hover {
  background-color: #da190b;
}

/* Estilo para el botón Editar */
.Editar {
  background-color: #008CBA; /* Azul */
  color: white;
}

.Editar:hover {
  background-color: #007bb5;
}

/* Estilo para el botón Eliminar */
.Eliminar {
  background-color: #e7e7e7; /* Gris */
  color: black;
}

.Eliminar:hover {
  background-color: #d6d6d6;
}
