.hero-section {
  position: relative;
  text-align: center;
  color: white;
  /* margin-top: 20px; Remove margin-top to eliminate gap */
  /* padding-top: 60px; Remove padding-top to eliminate gap */
  z-index: 1; /* Ensure the hero section is above other elements */
}

.hero-image {
  width: 100%; 
  height: auto;
  filter: brightness(70%);
  position: relative;
  z-index: -1; /* Ensure the image is behind the content */
}

.hero-content {
  position: relative;
  z-index: 4; /* Ensure the content is above the image */
  top: -50%; /* Adjust the position to move the content above the image */
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; /* Change the text color to black */
  padding: 20px; /* Add padding to improve appearance */
}

.hero-content h1 {
  margin-bottom: 20px; /* Add margin to separate the h1 element */
}

.hero-button {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #cc0000;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin-top: 80px; /* Increase the value to move the cards further down */
  max-width: 500px; /* Limit the width of the content list */
  margin-left: auto; /* Center the content list */
  margin-right: auto; /* Center the content list */
  display: block;
}

.navbar h1 {
  font-size: 1.5em; /* Adjust the font size */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.navbar-visible {
  z-index: 1000; /* Ensure the navbar is on top */
  position: relative; /* Ensure the navbar is positioned correctly */
}
